---
import type { CollectionEntry } from 'astro:content'
import { years, getPosts } from '../common/config'
import Base from '../common/base.astro'
import PageHero from '../common/pagehero.astro'
import BlogRoll from '../common/blogroll.astro'
import Years from '../common/years.astro'
import coverImage from '../common/my_feed.svg'
import socialImage from '../common/my_feed.png'

const posts = await getPosts()

const year = posts[0].data.pubDate!.getFullYear()
const frontmatter: CollectionEntry<'page'>['data'] = {
  title: 'What happened in ' + year,
  description: 'These are some of the things I did and articles I have written in ' + year,
  coverImage: coverImage,
  socialImage: socialImage
}
---

<Base frontmatter={frontmatter}>
  <header>
    <PageHero
      title={frontmatter.title!}
      description={frontmatter.description}
      coverImage={frontmatter.coverImage}
      socialImage={frontmatter.socialImage}
    >
      <Years year={year} years={years} />
    </PageHero>
  </header>
  <main class='bg-rosely7 dark:bg-rosely1'>
    <BlogRoll posts={posts} />
  </main>
</Base>
